<html lang="en">
	<%- include('./partials/header'); -%>
	<body>
		<main id="app" class="uk-overflow-hidden uk-position-absolute uk-flex uk-width-expand uk-height-1-1">
			<div class="app-wrap">
				<div class="absolute-container">
					<div class="uk-position-relative uk-flex uk-flex-1">
						<%- include('./partials/select-avatar'); -%>
						<%- include('./partials/user-settings/settings-container'); -%>
						<div class="absolute-container	 uk-padding chat-container" >
							<div class="uk-width-expand chat-panel uk-flex uk-flex-column">
								<%- include('./partials/chat/header-chat-panel'); -%>
								<%- include('./partials/chat/messages-panel'); -%>
								<%- include('./partials/chat/send-message-form'); -%>
							</div>
							<%- include('./partials/chat/users-panel'); -%>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="/socket.io/socket.io.js"></script>
		<script src="js/variables.js"></script>
		<script src="js/socket.js"></script>
		<script src="js/script.js" type="module"></script>
		<script src="js/uploadAvatar.js" type="module"></script>
	</body>
</html>
